@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&family=Metrophobic&family=Roboto:wght@700&display=swap');

body{
    font-family: "Metrophobic";
    margin: 0;
    color: white;
}

a{
    text-decoration: none;
    color: inherit;
}